.root {
  margin: 0;
}
canvas {
  background: #000;
}
#left {
  float: left;
}

#right {
  float: left;
  margin-left: 30;
  width: 15rem;
}
#score {
  font-size: 1rem;
}

#hackbit-vote-widget {
  clear: both;
}